.ratio-3x4 {
    aspect-ratio: 3/4;
}

.hero {
    overflow: hidden;

    .hero-content {
        margin: -16px;

        img {
            aspect-ratio: 16/4;
            object-position: center 20%;
            filter: blur(8px)
        }
    }
}

.card {
    cursor: pointer;
}

.movie-panel {
    margin-top: -64px
}

.modal-card {
    max-width: 320px;
}