/* utilities */

.cursor-pointer {
    cursor: pointer;
}

.ratio-3x4 {
    aspect-ratio: 3/4;
}

/* */

.hero {
    overflow: hidden;

    .hero-content {
        margin: -16px;

        img {
            aspect-ratio: 16/4;
            object-position: center 20%;
            filter: blur(8px)
        }
    }
}

.backdrop {
    background-color: rgba(120, 120, 120, .5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

.movie-panel {
    margin-top: -64px
}

.modal-card {
    max-width: 320px;
}

.vote-star {
    svg {
        margin: 0 0.05rem;
    }
}